#sidebar-header {
  font-size: 2rem;
  padding: 2rem;
}

.sidebar-component:hover {
  background-color: #dad9d6;
  cursor: pointer;
  font-weight: 600;
}

.sidebar-document-list,
.sidebar-document-list-last {
  padding: 0.5rem;
}

.sidebar-document-list {
  display: flex;
  align-items: center;
}

.sidebar-document-list-last {
  font-size: 1.4rem;
}

.sidebar-document-toggle-button {
  text-align: center;
  border-radius: 3px;
  padding: 0px 2px;
}

.sidebar-document-toggle-button:hover {
  cursor: pointer;
  background-color: #cdccc8;
}

#root-add-button {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  border-top: 0.5px solid gray;
}
