#root {
  min-height: 100vh;
  font-size: 1.6rem;
}

#notion-app {
  display: flex;
  height: 100vh;
}

#notion-sidebar-container {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 250px;
  background-color: #e7e6e4;
}

#notion-content-container {
  padding: 5rem;
  background-color: #fafafa;
  width: 100%;
}

.sidebar-add-remove-button {
  margin-left: 5px;
  background-color: inherit;
  border: 0.5px solid gray;
  font-size: 1.2rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.sidebar-add-remove-button:hover {
  font-weight: 600;
}
