#sidebar-header {
  font-size: 2rem;
  padding: 2rem;
}

#root-add-button {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  border-top: 0.5px solid gray;
}

.sidebar-component:hover {
  background-color: #dad9d6;
  cursor: pointer;
  font-weight: 600;
}

#sidebars {
  box-sizing: border-box;
}

.sub-components {
  display: flex;
  flex-direction: column;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
}

.sidebar-list div {
  display: flex;
  font-size: 16px;
}

.sidebar-list button {
  all: unset;
  cursor: pointer;
}

.sidebar-list .toggle {
  margin-right: 3px;
}

.sidebar-list,
.sidebar-list > div > .title {
  font-weight: 500;
  flex: 1;
  cursor: pointer;
}

.sidebar-list > div > .title:hover {
  background-color: #dad9d6;
}
